header {
    background: greenyellow;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

header nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

li {
    padding: 10px;    
}

h1 {
    text-align: center;
}

.container_box_withFlexBox { 
    display: flex;
    flex-direction: row;
    justify-content: center;
} 
.box_1_withFlexBox {
    border: 2px solid #000;
    width: 300px;
    height: 300px;
    background: rgb(250, 0, 0);
    margin-right: 18px;
}
.paragraph {
    width: 600px;
}

footer {
    width: 100%;
    background: greenyellow;
    height: 60px;
    position: absolute;
    bottom: 0;
}
