
/* -------------------- Float --------------- */

.container {
    background: grey;
    padding: 30px;
}

header {
    background: green;
    width: 100%;
}
header h1 {
    float: left;
}
header nav {
    float: right;
    margin-right: 30px;
}
header nav ul li {
    display: inline-block;
    padding: 0 10px;
}

section {
    background: red;
    width: 50%;
    float: left;
    clear: both;
}

aside {
    background: blue;
    width: 30%;
    float: right;
}

footer {
    background: orange;
    height: 60px;
    clear: both;
}