
@media (max-width: 64em) {
    .locationList {
        height: 30vh;
        overflow: auto;
        margin-bottom: 30px;
    }
}

.forecastExtendedCont {
    &__title {
        color: #fff;
        text-align: center;
        padding: 15px 0;
    }
}