.weatherLocationCont {
    font-family: 'Roboto', sans-serif;
    padding: 25px;
    box-shadow: 10px 10px 40px -12px rgba(0, 0, 0, 0.75);
    margin-bottom: 10px;
}

.locationCont {
    height: 35px;
    text-align: left;
    padding-left: 10px;
    color: #888;
    margin-bottom: 12px;
}